*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 95vh;
    /* background: url(../assets/lum3n-Ngy0B2YWalk-unsplash.jpg)  no-repeat fixed; */
}

h1{
    text-align: center;
    font-size: 100px;
}

section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 800px;
    margin: 30px 0;
}

.top-contact-section{
    margin-top: 150px;
}

.form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-form{
    width: 275px;
    padding: 0;
}

li input{
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
}

input,
textarea{
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
}

.submit{
    background-color: var(--primary-col);
    color: #fff;
    width: 100%;
    align-self: center;
    margin-top: 20px;
    font-size: 20px;
}

.submit:hover{
    background-color: hsl(24, 70%, 36%);
}

.contact{
    text-align: center;
}

.socials{
    margin-left: 100px;
}

.socials button{
    width: 40px;
    height: 40px;
    margin: 0 10px;
    border-radius: 50px;
    border: transparent;
    cursor: pointer;
}

.socials button:first-child{
    background-color: rgb(21, 78, 163);
}

.socials button:first-child:hover{
    background-color: hsl(216, 77%, 40%);
}

.socials button:nth-child(2){
    background-color: rgb(135, 21, 163);
}

.socials button:nth-child(2):hover{
    background-color: hsl(288, 77%, 40%);
}

.socials button:nth-child(3){
    background-color: rgb(21, 117, 182);
}

.socials button:nth-child(3):hover{
    background-color: hsl(204, 79%, 45%);
}
