body{
    background: url(../assets/ferks-guare-burger.jpg) no-repeat fixed center;
    padding-left: 5%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    height: 95vh;
}

.main{
    width: 50%;
    height: 60%;
}

h1 span{
    font-size: 120px;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 4px;
    margin-top: -10px;
}

.heading-span{
    font-size: 60px;
}

h3{
    margin-top: -30px;
}

.details{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    font-size: 22px;
}

.details > p{
    margin-bottom: -10px;
}
