@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@300&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
    font-family: 'Smooch Sans', sans-serif;
    letter-spacing: 3px;
}

:root{
    --background-col: rgb(43, 43, 43);
    --primary-col: rgb(178, 90, 32);
}

body{
    background-color: var(--background-col);
    color: #fff;
    font-weight: 600;
}

header{
    margin: 50px 0 0 0;
    width: 50%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.active{
    background-color: var(--primary-col);
}

.logo-link{
    padding-top: 4px;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.nav-item{
    margin-left: 50px;
    padding: 15px 35px;
}

.nav-item:hover{
    background-color: var(--primary-col);
    cursor: pointer;
}

.nav-item a{
    color: #fff;
    font-size: 35px;
    text-decoration: none;
}

.overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.45);
    z-index: -1;
    cursor: pointer;
}



*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 98vh;

    background: url(../testAssets/lum3n-Ngy0B2YWalk-unsplash.jpg)  no-repeat fixed;
}

h1{
    font-size: 100px;
}

.section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}

.form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-form{
    width: 275px;
    padding: 0;
}

li input{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}

input::placeholder,
textarea::placeholder{
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
}

.contact{
    text-align: center;
}

.socials{
    margin-left: 100px;
}

.socials button{
    width: 40px;
    height: 40px;
    margin: 0 10px;
    border-radius: 50px;
    border: transparent;
    cursor: pointer;
}

.socials button:first-child{
    background-color: rgb(21, 78, 163);
}

.socials button:first-child:hover{
    background-color: hsl(216, 77%, 40%);
}

.socials button:nth-child(2){
    background-color: rgb(135, 21, 163);
}

.socials button:nth-child(2):hover{
    background-color: hsl(288, 77%, 40%);
}

.socials button:nth-child(3){
    background-color: rgb(21, 117, 182);
}

.socials button:nth-child(3):hover{
    background-color: hsl(204, 79%, 45%);
}

