@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@300&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
    font-family: 'Smooch Sans', sans-serif;
    letter-spacing: 3px;
}

:root{
    --primary-col: rgb(178, 90, 32);
}

body{
    background: url(../testAssets/ferks-guare-burger.jpg) no-repeat fixed center;
    color: #fff;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 98vh;
}

ul{
    list-style: none;
}

header{
    margin-top: 50px;
    width: 50%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-link{
    padding-top: 4px;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.nav-item{
    margin-left: 50px;
    padding: 15px 35px;
}

.nav-item:hover{
    background-color: var(--primary-col);
    cursor: pointer;
}

.nav-item a{
    color: #fff;
    font-size: 35px;
    text-decoration: none;
}

main{
    width: 50%;
    height: 60%;
}

h1 span{
    font-size: 120px;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 4px;
}

h3{
    margin-top: -40px;

}

.details{
    margin-top: 50px;
    font-size: 22px;
}

.details > p{
    margin-bottom: -10px;
}


footer{
    display: flex;
    justify-content: space-between;
}

.personal{
    text-decoration: none;
    color: var(--primary-col);
}

.personal:hover{
    color: #fff;
}

.credit{
    text-decoration: none;
    color: #fff;
}

.credit:hover{
    color: var(--primary-col);
}