*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --primary-col: rgb(178, 90, 32);
}

body{
    background: url(../testAssets/ferks-guare-burger.jpg) no-repeat fixed center;
    color: #fff;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 98vh;
}

ul{
    list-style: none;
}

header{
    /* background-color: lightgreen; */
    width: 50%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-link{
    padding-top: 4px;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.nav-item{
    margin-left: 20px;
    padding: 15px 35px;
    /* background-color: lightseagreen; */
}

.nav-item:hover{
    background-color: var(--primary-col);
}

.nav-item a{
    color: #fff;
    font-size: 35px;
    text-decoration: none;
}

main{
    /* background-color: lightcoral; */
    width: 50%;
    height: 60%;
}

h1{
    font-size: 50px;
}