@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@300&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
    font-family: 'Smooch Sans', sans-serif;
    letter-spacing: 3px;
}

:root{
    --background-col: rgb(43, 43, 43);
}

body{
    background-color: var(--background-col);
    color: #fff;
}

.overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.45);
    z-index: -1;
    cursor: pointer;
}
